/* NAVBAR PART */

body {
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
}

.headerContainer {
    width: 100%;
    margin-top: 48px;
}

.header {
    width: 1108px;
    height: 46px;
    display:flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.headerLogo {
    width: 148.28px;
    height: 25px;
}

nav:nth-child(2) > ul:nth-child(1) {
    display: flex;
    align-items: center;
}

ul > li {
    margin-left: 45px;
}
li {
    display: flex;
}

li > a {
    text-decoration: none;
    color: #242A45;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.5px;
}

nav:nth-child(2) > ul:nth-child(1) > li:nth-child(4) {
    width: 111.4px;
    height: 40px;
    background-color: #FA5959;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 500; 
    border-radius: 5px;
    box-shadow: -3px 6px 10px lightgray;
}

li:nth-child(4) > a:nth-child(1) {
    color: #FFFFFF;
    font-weight: 501;
}

/* FIRST MAIN CONTENT PART */

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr 1fr 1.5fr 1.5fr 1fr 1fr;
    gap: 30px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "main1 main2"
      "features features"
      "bookmark1 bookmark2"
      "download download"
      "ask ask"
      "prefooter prefooter"
      "footer footer";
  }
  
  .header { grid-area: header; }
  
  .main1 { grid-area: main1; }
  
  .main2 { grid-area: main2; }
  
  .features { grid-area: features; }
  
  .bookmark1 { grid-area: bookmark1; }
  
  .bookmark2 { grid-area: bookmark2; }
  
  .download { grid-area: download; }
  
  .ask { grid-area: ask; }
  
  .prefooter { grid-area: prefooter; }
  
  .footer { grid-area: footer; }

  
h1 {
    font-size: 48px;
    color: #242A45;
    margin-top: 70px;
    font-weight: 501; 
}

.marginLeft {
    margin-left: 166px;
}

li > a, h1, p, h2, h3 {
    font-family: 'Rubik', sans-serif;
}

p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(36, 42, 69, 50%);
}

p.marginLeft {
    width: 65%;
}

.btn {
    width: 168px;
    height: 48px;
    border-style: none;
    border-radius: 5px;
}

.btn-Chrome{
    background-color:rgba(82, 103, 223, 1);
    color: rgba(255, 255, 255, 1);
}

.btn-Firefox {
    background-color: rgba(73, 93, 207, 0,2);
    color: rgba(36, 42, 69, 1);
    margin-left: 15px;
    box-shadow: -1px 5px 10px lightgray;
}

.btn-Install {
    width: 232px;
    height: 48px;
    background-color:rgba(82, 103, 223, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border-style: none;
    margin-top: 30px;
}

.rectangle {
    width: 1000px;
    height: 352px;
    border-radius: 316.5px;
    background-color: rgba(82, 103, 223, 1);
    top: -320px;
    left: 200px;
}

.heroImg {
    z-index: 1;
}

.rectangle, .heroImg {
    position: relative;
}

/* SECOND MAIN CONTENT PART */
.flexxer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 32px;
    color: #242A45;
}

.flexxer > p:nth-child(2) {
    width: 36%;
    text-align: center;
    line-height: 28px;
}

ul:nth-child(2) {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: auto;
    padding: 0;
    border-bottom: 1px solid lightgray;
}

.features > ul:nth-child(2) > li {
    margin-right: 90px;
}

.features > ul:nth-child(2) > li > a {
    font-size: 17px; 
    text-transform: none;
}

.border-bottom {
    line-height: 100px;
}

.border-bottom:hover {
    border-bottom: 3px solid #FA5959;
}


.bookmark2 > h1, .wrapper {
    margin-left: 40px;
}

.wrapper {
    width: 60%;
}

.listContainer {
    display: flex;
    justify-content: space-between;
    width: 63%;
    margin-top: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 370px;
    box-shadow: 0px 6px 14px lightgray;
}

.list > img {
    margin-top: 40px;
}


.list > p ,
h3  {
    margin: 0;
}

h3 {
    color: #242A45;
    margin-top: 30px;
    font-size: 20px;
}

.list > p {
    font-size: 15px;
    font-weight: lighter;
}

.list2 {
    margin-top: 40px;
} 

.list3 {
    margin-top: 80px;
} 

.collapsible {
    background-color: white;
      color: #242A45;
      cursor: pointer;
      padding: 18px;
      width: 50%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }
    
    
    .content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      backgroud-color: white;
    }